<h2 class="center">You're successfully deleted!</h2>
<h3 class="center">Redirecting..</h3>
<script>
    // Redirect after 5 seconds (5000 milliseconds)
    setTimeout(function () {
        window.location.href = '/signup';
    }, 3000);
</script>