<div class="center">
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <div>
            <label>
                <p>Username</p>
            </label>
            <input class="input" type="text" name="username" id="username" />
        </div>
        <div>
            <label>
                <p>Password</p>
            </label>
            <input class="input" type="password" name="password" id="password" />
        </div>
        <button class="button" type="submit" id="submitButton" disabled>SIGN UP</button>
    </form>
</div>

<script src="/DisableButton.js">
</script>