<link rel="stylesheet" href="/style.css" />

<h1>Signup</h1>
<form action="/signup" method="POST">
    <div>
        <label>
            <p>Username</p>
        </label>
        <input type="text" name="username" id="username" />
    </div>
    <div>
        <label>
            <p>Password</p>
        </label>
        <input class="input" type="password" name="password" id="password" />
    </div>
    <button type="submit">SIGN UP</button>
</form>