@media (max-width: 769px) {
  body {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .deleteuser {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  border: 1px solid black;
}

h1 {
  font-size: 34px;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

button {
  border-radius: 20px;
  border: 1px solid rgb(15, 147, 15);
  padding: 12px 20px;
  margin: 8px 0;
  background-color: rgb(15, 147, 15);
  color: antiquewhite;
  font-weight: bolder;
  cursor: pointer;
}

button:disabled {
  border: 1px solid gray;
  background-color: gray;
  border-radius: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  color: antiquewhite;
  font-weight: bolder;
  cursor: not-allowed;
}

.username {
  color: brown;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.deleteuser {
  background-color: brown;
  border: 1px solid brown;
  color: white;
  margin: 4px;
  padding: 6px;
}
